nav {
    width: 100%;
    background-color: gold;

}


ul {
    width: 100%;
    list-style: none;
    display: block;
    
}
li{
    margin-right: 30px;
    display: inline;
    vertical-align: middle;
}
